<div id="taskShowContainer">
  <h1>Edit Task</h1>
  <div class="closeTaskShow">x</div>
  <%= form_for @task, :html => {:class => 'edit_task'}, remote: true  do |f| %>
  <p>Description</p>
  <%= f.text_area :description %>
  <p>Performer</p>
  <%= f.select(:performer) do %>
    <% @select_users.each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
  <% end %>
  <p>State</p>
  <%= f.select(:state) do %>
    <% [["Done","done"],["Open","open"]].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
  <% end %>
  <%= f.submit "Submit" %>
  <% end %>
</div>
