<tr class="task" id="<%= task.id %>">
  <td>
    <%= task.owner %>
  </td>
  <td class="desc">
    <%= task.description %>
  </td>
  <td class="state">
    <% if task.state == "done" %>
      <span class="label label-success">
        <%= task.state %>
      </span>
    <% elsif task.state == "open" %>
      <span class="label label-primary">
        <%= task.state %>
      </span>
    <% end %>
  </td>
  <td>
    <%= task.created_at.strftime("%d %b. '%H:%M'") %>
  </td>
  <td class="performer">
    <%= task.performer.name %>
  </td>
  <td>
    <%= link_to edit_task_list_path(task), remote: true, class: 'editBtn' do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </td>
  <td>
    <%= link_to destroy_task_list_path(task),remote: true, method: 'delete',class: "delete_task", data: {confirm: 'Are you sure?'} do%>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  </td>
</tr>
